In [1]:
import numpy 
import pandas as pd
train = pd.read_csv("C:\\Users\\fudan kumar\\Downloads\\sales_train.csv.zip")
train

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day
0,02.01.2013,0,59,22154,999.00,1.0
1,03.01.2013,0,25,2552,899.00,1.0
2,05.01.2013,0,25,2552,899.00,-1.0
3,06.01.2013,0,25,2554,1709.05,1.0
4,15.01.2013,0,25,2555,1099.00,1.0
...,...,...,...,...,...,...
2935844,10.10.2015,33,25,7409,299.00,1.0
2935845,09.10.2015,33,25,7460,299.00,1.0
2935846,14.10.2015,33,25,7459,349.00,1.0
2935847,22.10.2015,33,25,7440,299.00,1.0
2935848,03.10.2015,33,25,7460,299.00,1.0

In [2]:
test = pd.read_csv("C:\\Users\\fudan kumar\\Downloads\\test.csv.zip")
test

            ID  shop_id  item_id
0            0        5     5037
1            1        5     5320
2            2        5     5233
3            3        5     5232
4            4        5     5268
...        ...      ...      ...
214195  214195       45    18454
214196  214196       45    16188
214197  214197       45    15757
214198  214198       45    19648
214199  214199       45      969

[214200 rows x 3 columns]

In [3]:
test.shape

(214200, 3)

In [4]:
train.shape

(2935849, 6)

In [5]:
import sklearn

In [6]:
train.isnull().sum()

date              0
date_block_num    0
shop_id           0
item_id           0
item_price        0
item_cnt_day      0
dtype: int64

In [7]:
test.isnull().sum()

ID         0
shop_id    0
item_id    0
dtype: int64

In [8]:
train.drop(['date'],axis = 1,inplace = True)

In [9]:
train

         date_block_num  shop_id  item_id  item_price  item_cnt_day
0                     0       59    22154      999.00           1.0
1                     0       25     2552      899.00           1.0
2                     0       25     2552      899.00          -1.0
3                     0       25     2554     1709.05           1.0
4                     0       25     2555     1099.00           1.0
...                 ...      ...      ...         ...           ...
2935844              33       25     7409      299.00           1.0
2935845              33       25     7460      299.00           1.0
2935846              33       25     7459      349.00           1.0
2935847              33       25     7440      299.00           1.0
2935848              33       25     7460      299.00           1.0

[2935849 rows x 5 columns]

In [10]:
#train1 = train.pivot_table(index = 'date_block_num',columns = 'shop_id',
 #                          aggfunc = {'shop_id':sum,'item_id':sum,'item_price':sum}  )
#train1

In [11]:
# monthwise

import numpy as np
t1 = train.groupby('date_block_num').aggregate(np.mean)

In [12]:
k = t1['shop_id']
k1 = t1['item_id']
k2 = t1['item_price']

In [13]:
k = pd.core.frame.DataFrame(k)
k1 = pd.core.frame.DataFrame(k1)
k2 = pd.core.frame.DataFrame(k2)

In [14]:

x = pd.concat([k,k1,k2],axis = 1)
x1 = pd.concat([k,k1],axis = 1)
y = t1['item_price']

In [15]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,random_state = 0)

In [16]:
from sklearn.neighbors import KNeighborsRegressor
knn = KNeighborsRegressor(n_neighbors = 3)

In [17]:
#knn1.score(x_test,y_test)

In [18]:
#test.drop(['ID'],axis = 1,inplace = True)

In [19]:
pricet=knn1.predict(test)
pricet

NameError: name 'knn1' is not defined

In [ ]:
from sklearn.ensemble import GradientBoostingRegressor
gbrt = GradientBoostingRegressor(n_estimators = 100, random_state = 0,max_depth = 1)

In [ ]:
gbrt

In [ ]:
gbrt1 = gbrt.fit(x_train,y_train)

In [ ]:
gbrt1.score(x_train,y_train)

In [ ]:
gbrt1.score(x_test,y_test)

In [ ]:
pricet1 = gbrt1.predict(test)
pricet1

In [ ]:
pricet1.shape

In [ ]:
pricet1 = pd.DataFrame(pricet1)
test1 = pd.read_csv("C:\\Users\\fudan kumar\\Downloads\\test.csv.zip")
test2 = pd.concat([test,pricet1],axis = 1)
test2.columns = ['ID','shop_id','item_id','item_price']
test2

In [ ]:
 test2.drop(['ID'],axis = 1,inplace = True)

In [ ]:
test2

In [ ]:
x.head()

In [ ]:
t2 = t1['item_cnt_day']

In [ ]:
gbrt = GradientBoostingRegressor(alpha=0.4, ccp_alpha=0.0, criterion='friedman_mse',
                          init=None, learning_rate=0.2, loss='ls',
                          max_depth=1, max_features=None, max_leaf_nodes=None,
                          min_impurity_decrease=0.0, min_impurity_split=None,
                          min_samples_leaf=1, min_samples_split=2,
                          min_weight_fraction_leaf=0.27, n_estimators=83,
                          n_iter_no_change=None, presort='deprecated',
                          random_state=0, subsample=1.0, tol=0.1,
                          validation_fraction=0.4, verbose=0, warm_start=False)

x1_train,x1_test,y1_train,y1_test = train_test_split(x,t2,random_state = 0)
gbrt1 = gbrt.fit(x1_train,y1_train)
print(gbrt1.score(x1_train,y1_train))
print(gbrt1.score(x1_test,y1_test))

In [ ]:







pricet3 = gbrt1.predict(test2)
pricet3

In [ ]:
pricet3 = pd.DataFrame(pricet3)
#sample = pd.read_csv("C:\\Users\\fudan kumar\\Downloads\\sample_submission.csv.zip")
#sample1 = pd.concat([sample,pricet3],axis = 1)
#sample1.columns = ['ID','item_cnt_month1','item_cnt_month']

#sample1

In [ ]:
sample1.drop(['item_cnt_month1'],axis = 1,inplace =True)

In [ ]:
sample1

In [ ]:
#create sample submission file
#pred = pd.DataFrame(t_pred)
#sub_df = pd.read_csv("C:\\Users\\fudan kumar\\Downloads\\sample_submission.csv")
#datasets = pd.concat([sub_df['Id'],pred],axis = 1)
#datasets.columns = ['id','SalePrice']
sample1.to_csv("C:\\Users\\fudan kumar\\Downloads\\sample_submission.csv",index=False)

"C:\Users\fudan kumar\Downloads\sample_submission.csv"

In [20]:
train

         date_block_num  shop_id  item_id  item_price  item_cnt_day
0                     0       59    22154      999.00           1.0
1                     0       25     2552      899.00           1.0
2                     0       25     2552      899.00          -1.0
3                     0       25     2554     1709.05           1.0
4                     0       25     2555     1099.00           1.0
...                 ...      ...      ...         ...           ...
2935844              33       25     7409      299.00           1.0
2935845              33       25     7460      299.00           1.0
2935846              33       25     7459      349.00           1.0
2935847              33       25     7440      299.00           1.0
2935848              33       25     7460      299.00           1.0

[2935849 rows x 5 columns]